
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: crimson;
    font: normal 15px Arial;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

section p {
    margin: 15px;
}

section input {
    text-align: center;
    width: 100px;
}

section input#fim {
    margin-left: 17px;
}

section input#inicio {
    margin-left: 6px;
}

section input#botao {
    margin-left: 15px;
    padding: 2px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}

